@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

.l-header {
  position: relative;
  height: 74px;
  display: flex;
}

.l-header_logo {
  display: flex;
}

.l-header_logo p {
  margin-top: 35px;
}

.l-header_logo img {
  margin: 20px 0px 0px 120px;
  height: 40px;
  width: 140px;
}

.l-header_button {
  position: absolute;
  top: 20px;
  right: 120px;
  width: 320px;
  height: 40px;
}

.l-header_button a {
  font-size: 15px;
}

.l-main_top {
  position: relative;
  height: 500px;
}

.l-main_top_back {
  width: 100%;
  height: 500px;
}

.l-main_top_content {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
}

.l-main_top_content h2 {
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

.l-main_top_content p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.l-main_top_logo {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 120px;
}

.l-main_document {
  width: 100%;
  height: 600px;
  background-color: #EBB94D;
}

.l-main_document_text {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  padding: 20px 0px 0px 0px;
}

.l-main_document_white {
  margin: 15px auto 50px auto;
  width: 460px;
  height: 30px;
  background-color: #ffffff;
}

.l-main_document_white p {
  text-align: center;
  color: red;
  font-weight: bold;
  line-height: 30px;
}

.l-main_document_button {
  display: block;
  width: 1000px;
  height: 100px;
  margin: 0 auto 50px auto;
}

.l-main_document_button a {
  font-size: 30px;
  font-weight: bold;
}

.l-main_document_date {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  padding: 20px 0px 15px 0px;
}

.l-main_document_sns {
  text-align: center;
}

.l-main_free {
  position: relative;
}

.l-main_free_wrapper {
  position: relative;
}

.l-main_free_img {
  width: 100%;
  height: 600px;
}

.l-main_free_circle {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
  width: 80px;
  height: 80px;
  background-color: #EBB94D;
  border-radius: 50%;
}

.l-main_free_circle p {
  color: #ffff;
  font-size: 15px;
  text-align: center;
  line-height: 80px;
}

.l-main_free_text {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
}

.l-main_free_text p {
  text-align: center;
  margin: 20px 0px;
  font-size: 20px;
  color: #656565;
}

.l-main_free_text p strong {
  color: #333333;
  background: linear-gradient(transparent 70%, #EBB94D 30%);
}

.l-main_free_text_top {
  position: relative;
  width: 850px;
}

.l-main_free_text_top h1 {
  text-align: center;
  padding: 40px 10px;
  font-size: 28px;
}

.l-main_isara {
  width: 100%;
  height: 646px;
  background-color: #FEF5E0;
}

.l-main_isara_wrapper {
  position: relative;
  margin: 0 auto;
}

.l-main_isara_top {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
  width: 850px;
}

.l-main_isara_top h1 {
  text-align: center;
  padding: 40px 10px;
  font-size: 28px;
}

.l-main_isara_text {
  text-align: center;
  padding: 250px 0px 40px 0px;
  font-size: 20px;
  font-weight: 600;
}

.l-main_isara_flame {
  width: 1170px;
  height: 250px;
  margin: 0 auto;
  border: solid 2px #EBB94D;
  background: #FFFFFF;
  border-radius: 5px;
}

.l-main_isara_flame_title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 0px;
}

.l-main_isara_flame ul {
  display: flex;
  justify-content: center;
}

.l-main_isara_flame ul li {
  list-style: none;
  text-align: center;
  padding: 10px 0px;
  width: 140px;
  height: 150px;
}

.l-main_isara_flame ul li img {
  height: 50px;
}

.l-main_isara_flame ul li p {
  font-size: 13px;
  color: #A2A2A2;
}

.l-main_step {
  position: relative;
  text-align: center;
}

.l-main_step img {
  display: block;
  width: 100%;
  height: 440px;
}

.l-main_step_text {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
  color: #ffff;
}

.l-main_step_text h2 {
  width: 1000px;
  font-size: 28px;
}

.l-main_step_text p {
  padding: 15px 0px 5px;
  font-size: 20px;
  font-weight: bold;
}

.l-main_step_text p span {
  color: #EBB94D;
}

.l-main_step ul {
  display: flex;
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 100;
}

.l-main_step ul li {
  width: 370px;
  height: 175px;
  margin: 10px;
  list-style: none;
  border-radius: 5px;
  background-color: #ffff;
  text-align: center;
  border-radius: 15px;
}

.l-main_step ul p {
  padding: 0px 0px 15px 0px;
  font-weight: 400;
}

.l-main_step_yellow {
  margin: 25px auto;
  width: 80%;
  height: 25px;
  border-radius: 7px;
  background-color: #EBB94D;
  color: #ffff;
}

.l-main_step_bangkok {
  font-size: 14px;
}

.l-main_step_blue {
  width: 100%;
  height: 150px;
  background-color: #046EA8;
  margin: 0px;
}

.l-main_step_blue_wrapper {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
}

.l-main_step_blue_wrapper span {
  color: #EBB94D;
}

.l-main_study {
  text-align: center;
  height: 500px;
}

.l-main_study h2 {
  padding-top: 60px;
  font-size: 25px;
}

.l-main_study h2 span {
  font-size: 15px;
}

.l-main_study_skill {
  padding: 40px 0px 30px 0px;
  font-size: 16px;
}

.l-main_study_icon img {
  width: 220px;
  height: 220px;
  padding: 20px;
}

.l-main_study_text {
  padding-top: 15px;
  font-size: 15px;
}

.l-main_merit {
  height: 1000px;
  background-color: #FEF5E0;
}

.l-main_merit_wrapper {
  padding: 40px;
}

.l-main_merit_top {
  position: relative;
  text-align: center;
  width: 800px;
  line-height: 50px;
  margin: 0 auto;
  padding: 20px;
}

.l-main_merit_contents {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.l-main_merit_contents li {
  list-style: none;
  text-align: center;
  margin: 10px;
  width: 350px;
  height: 400px;
}

.l-main_merit_contents li img {
  width: 350px;
}

.l-main_merit_flame {
  width: 1170px;
  height: 250px;
  margin: 0 auto;
  border: solid 2px #EBB94D;
  background: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}

.l-main_merit_flame h1 {
  color: #EBB94D;
  padding: 30px 0px 20px 0px;
}

.l-main_merit_caution {
  text-align: center;
  padding: 20px;
}

.c-button {
  background-color: #DA6B64;
  border-radius: 40px;
  opacity: 0.9;
}

.c-button:hover {
  opacity: 1;
}

.c-button a {
  display: block;
  text-decoration: none;
  color: #ffff;
  text-align: center;
  line-height: 40px;
}

.c-block:before {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-top: solid 4px;
  border-left: solid 4px;
  left: 0;
  top: 0;
  color: #EBB94D;
}

.c-block:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: solid 4px;
  border-right: solid 4px;
  right: 0;
  bottom: 0;
  color: #EBB94D;
}
/*# sourceMappingURL=style.css.map */