.c-button{
  // width: 320px;
  // height: 40px;
  background-color: #DA6B64;
  border-radius: 40px;
  opacity: 0.9;
  &:hover{
    opacity: 1;
  }
  a{
    display: block;
    text-decoration: none;
    // font-size: 15px;
    color: #ffff;
    text-align: center;
    line-height: 40px;
  }
}