.l-footer{
  position: relative;
  height: 180px;
  background-color: #ECECEC;
  text-align: center;
  a{
    text-decoration: none;
    color: #23527C;
  }
  p{
    color: #6C6C6C;
    font-size: 10px;
    letter-spacing: 0.08rem;
  }
  &_top{
    padding: 40px;
  }
  &_scroll{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 80px;
    right: 50px;
    background-color: #ECECEC;
    text-align: center;
   &:hover{
     cursor: pointer;
   }
    p{
    border-top: solid 6px #000000;
    border-left: solid 6px #000000;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    text-align: center;
    margin: 30px auto;
    padding: 8px;
    }
  }
}