.l-main{
&_top{
 position: relative;
 height: 500px;
  &_back{
    width: 100%;
    height: 500px;
  }
  &_content{
    position: absolute;
    top: 240px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 100;
    h2{
      text-align: center;
      line-height: 60px;
      font-size: 30px;
    }
    p{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
    }
   }
   &_logo{
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 120px;
   }
  }
//  資料請求
 &_document{
   width: 100%;
   height: 600px;
   background-color: #EBB94D;
   &_text{
     text-align: center;
     color: #ffffff;
     font-size: 22px;
     padding: 20px 0px 0px 0px;
   }
   &_white{
    margin: 15px auto 50px auto;
    width: 460px;
    height: 30px;
    background-color: #ffffff;
    p{
      text-align: center;
      color: red;
      font-weight: bold;
      line-height: 30px;
    }
   }
   &_button{
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0 auto 50px auto;
    a{
    font-size: 30px;
    font-weight: bold;
    }
   }
   &_date{
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    padding: 20px 0px 15px 0px;
   }
  &_sns{
    text-align: center;
  }
 }
//  自由
 &_free{
  position: relative;
   &_wrapper{
    position: relative;
   }
   &_img{
     width:100%;
     height: 600px;
   }
   &_circle{  
    position: absolute;
    bottom: -80px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 100;
    width: 80px;
    height: 80px;
    background-color: #EBB94D;
    border-radius: 50%;
    p{
     color: #ffff;
     font-size: 15px;
     text-align: center;
     line-height: 80px;
    }
   }
   &_text{
     position: absolute;
     top: 250px;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      z-index: 100;
      p{
       text-align: center;
       margin: 20px 0px;
       font-size: 20px;
       color: #656565;
       strong{
        color: #333333;
        background: linear-gradient(transparent 70%, #EBB94D 30%);
       }
      }
     &_top{
       position: relative;
       width: 850px;
      h1{
      text-align: center;
      padding: 40px 10px;
      font-size: 28px;
       }
     }
   }
 }
}

.l-main{
  // isaraとは
  &_isara{
    width: 100%;
    height: 646px;
    background-color: #FEF5E0;
    &_wrapper{
      position: relative;
      margin: 0 auto;
    }
    &_top{
      position: absolute;
      top: 150px;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin: 0;
      padding:0;
      z-index: 100;
      width: 850px;
      h1{
      text-align: center;
      padding: 40px 10px;
      font-size: 28px;
      }
    }
    &_text{
      text-align: center;
      padding: 250px 0px 40px 0px;
      font-size: 20px;
      font-weight: 600;
    }
  &_flame{
    width: 1170px;
    height: 250px;
    margin: 0 auto;
    border: solid 2px #EBB94D;
    background: #FFFFFF;
    border-radius: 5px;
    &_title{
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      padding: 30px 0px;
    }
    ul{
     display: flex;
     justify-content: center;
      li{
        list-style: none;
        text-align: center;
        padding: 10px 0px;
        width: 140px;
        height: 150px;
        img{
        height: 50px;
        }
        p{
          font-size: 13px;
          color: #A2A2A2;
        }
      }
    }
  }
 }
}

// ステップ
.l-main_step{
  position: relative;
  text-align: center;
  img{
    display: block;
    width: 100%;
    height: 440px;
  }
  &_text{
    position: absolute;
    top: 130px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding:0;
    z-index: 100;
    color: #ffff;
    h2{
      width: 1000px;
      font-size: 28px;
    }
    p{
      padding: 15px 0px 5px;
      font-size: 20px;
      font-weight: bold;;
      span{
        color: #EBB94D;
      }
    }
  }
  ul{
    display: flex;
    position: absolute;
    top: 310px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding:0;
    z-index: 100;
    li{
      width: 370px;
      height: 175px;
      margin: 10px;
      list-style: none;
      border-radius: 5px;
      background-color: #ffff;
      text-align: center;
      border-radius: 15px;
    }
    p{
      padding: 0px 0px 15px 0px;
      font-weight: 400;
    }
  }
  &_yellow{
    margin: 25px auto;
    width: 80%;
    height: 25px;
    border-radius: 7px;
    background-color: #EBB94D;
    color: #ffff;
  }
  &_bangkok{
    font-size: 14px;
  }
  &_blue{
    width: 100%;
    height: 150px;
    background-color: #046EA8;
    margin: 0px;
    &_wrapper{
      padding-top: 50px;
      font-size: 20px;
      font-weight: 600;
      color: #ffff;
      span{
        color: #EBB94D;
      }
    }
  }
}

// isaraで学べること
.l-main_study{
  text-align: center;
  height: 500px;
  h2{
    padding-top: 60px;
    font-size: 25px;
    span{
      font-size: 15px;
    }
  }
  &_skill{
    padding: 40px 0px 30px 0px;
    font-size: 16px;
  }
  &_icon{
    img{
      width: 220px;
      height: 220px;
      padding: 20px;
    }
  }
 &_text{
  padding-top: 15px ;
  font-size: 15px;
 }
}

// iSaraのメリット
.l-main_merit{
  height: 1000px;
  background-color: #FEF5E0;
  &_wrapper{
    padding: 40px;
  }
  &_top{
    position: relative;
    text-align: center;
    width: 800px;
    line-height: 50px;
    margin: 0 auto;
    padding: 20px;
  }
  &_contents{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    li{
      list-style: none;
      text-align: center;
      margin: 10px;
      width: 350px;
      height: 400px;
      img{
        width: 350px;
      }
    }
  }
  &_flame{
    width: 1170px;
    height: 250px;
    margin: 0 auto;
    border: solid 2px #EBB94D;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    h1{
      color: #EBB94D;
      padding: 30px 0px 20px 0px;
    }
  }
  &_caution{
    text-align: center;
    padding: 20px;
  }
}